@import '../../../../../styles/app';

.rating {
  display: flex;
  font-size: $font-size-lg;
  font-weight: 500;
  color: #fff;
  align-items: center;

  .la {
    color: #ffc107;
    margin-left: 5px;
    font-size: $font-size-lg;
  }
}

.rating-sm {
  font-size: $font-size-base;

  svg {
    height: 14px;
  }
}
