@import '../../../styles/app';

.listGroup {
  display: block;
  height: 320px;
  overflow-y: scroll;

  :global(.list-group-item) {
    border: none;
    background: transparent;
    color: $text-color;
    font-weight: $font-weight-normal;
    overflow: hidden;

    &:hover {
      background-color: $list-group-hover-bg;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.listGroupItem {
  transition: background-color 0.15s ease-in-out;
  text-decoration: none;

  p {
    margin: 0;
  }

  .btn {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
  }

  .button-group {
    display: flex;
    gap: 0.25rem;
    white-space: nowrap;
  }

  time {
    display: block;
    margin-top: 4px;
    color: $text-muted;
  }

  .progress {
    transition: background 0.15s ease-in-out;

    &:hover {
      background: $black;
    }
  }
}

.notificationIcon {
  float: left;
  margin-right: 1rem;

  img {
    width: 34px;
    height: 34px;
  }

  i {
    font-size: 1.5rem;
    color: $text-muted;
  }

  .rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
