@import '../../styles/app';

.notifications {
  width: 343px;
  height: 100%;
  border: none;
  box-shadow: none;

  :global(.list-group-item) {
    border: none;
  }

  :global(.dropdown-menu) {
    border: none;
  }
}

.header {
  border-bottom: none;
}

.notifications-tabs {
  border: none;

  :global(.nav-item) {
    .nav-link {
      border: none;
      color: $text-muted;
      padding: 10px 15px;

      &:hover {
        color: $text-color;
      }

      &.active {
        color: $text-color;
        background: transparent;
        font-weight: $font-weight-semi-bold;
      }
    }
  }
}

.footer {
  border-top: 1px solid $widget-bg;

  :global(.btn) {
    background: none;
    border: none;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}
