@import '../../../../styles/app';

.years-map {
  .map {
    position: relative;
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  }

  .stats {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 5% 10%;
  }

  /*  Part:Map Controls  */
  .map-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #bbb;
    background-color: $gray-light;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    > .nav-item > .nav-link {
      border-radius: 0;
      padding: 0.7143rem 0;
      color: theme-color('inverse');

      &:hover {
        color: theme-color('inverse');
        background-color: $gray-300;
      }
    }

    > .nav-item > .nav-link.active {
      &,
      &:hover {
        background-color: $white;
        color: $gray-700;
        font-weight: $font-weight-bold;
      }
    }

    > .nav-item:first-child > a {
      border-bottom-left-radius: $border-radius;
    }

    > .nav-item:last-child > a {
      border-bottom-right-radius: $border-radius;
    }
  }
}
